﻿@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    123 ABC St.<br />
    Chiwa, WA 12345<br />
    <abbr title="Phone">P:</abbr>
    1-800-PETSRUS
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>