﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Chihuahua Shelter 2.0</h1>
    <p class="lead">Where Chihuahuas are lovable!</p>
</div>

<div class="row">

</div>